body{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name-input{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 200px;
    left: 475px;
    width: 300px;
    height: 150px;
    background: rgb(28, 29, 41);
    border-radius: 10px;
    padding: 1em;
    color: white;
}
#name-input form input{
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5em;
}
#name-input form button{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#name-input form button:hover{
    background: rgb(126, 134, 136);
    transition: 0.2s ease-in-out;
}
#name-input form button:active{
    background: rgb(84, 94, 97);
    transition: 0.2s ease-in-out;
}
#message-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    padding: 0 2em;
}
.outgoing{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin: 25px;
}
.incoming{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin: 25px;
}
.outgoing-header{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 285px;
    margin-bottom: 5px;
    
}
.incoming-header{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 285px;
    margin-bottom: 5px;
    
}
.outgoing-message{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
    background: rgb(8, 206, 255);
    border-radius: 20px 20px 0px 20px;
    width: 300px;
    height: auto;
    word-wrap: break-word;
}
.incoming-message{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
    background: rgb(186, 203, 207);
    border-radius: 20px 20px 20px 0px;
    width: 300px;
    height: auto;
    word-wrap: break-word;
}

#send-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    bottom: 10px;
}
#send-container input{
    width: 350px;
    padding: 0.5em;
    outline: none;
    border: 1px rgb(128, 132, 150) solid;
    border-radius: 10px 0px 0px 10px;
}
#send-container button{
    width: 75px;
    padding: 0.5em;
    outline: none;
    border: 1px rgb(128, 132, 150) solid;
    background: rgb(68, 75, 77);
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#send-container button:hover{
    background: rgb(147, 160, 163);
    transition: 0.2s ease-in-out;
}
#send-container button:active{
    background: rgb(71, 99, 105);
    transition: 0.2s ease-in-out;
}